.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  &-container {
    padding: 3%;
    width: 80%;
    height: 30%;
    background: radial-gradient(
      102.04% 362.09% at 33.88% 16.84%,
      rgba(255, 255, 255, 0) 0%,

      rgba(255, 255, 255, 0.8) 100%
    );
    border: solid rgba(255, 255, 255, 0.438) 1px;
    backdrop-filter: blur(20px);
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-empty {
      width: 100%;
      height: 10%;
      margin-top: 10%;
    }
    &-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-form {
        margin: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid white;
        &-div {
          display: flex;
          flex-direction: row;
          label {
            width: 40%;
            text-align: start;
          }
          input {
            width: 30%;
            background-color: rgba(255, 255, 255, 0);
            border: none;
          }
          input:focus {
            outline: none;
          }
        }

        // &-div{
        //   ;
        // }
      }
    }
    &-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .inbtn {
        width: 40%;
        border-radius: 7px;
        border: 1.3px solid white;
      }
    }
  }
}
