.list_wrapper{
    margin-top: 60px;
    height: 100vw;
}


.item_wrapper{
    display: flex;
    margin: 0 auto;
    height: 90px;
    width: 350px;
    line-height: 60px;
    text-align: start;
        
    
        img{
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }

        #text1{
            height: 40px;
        }
        #text2{
            height: 40px;
            line-height: 2;
        }
    }