.lostItem{
    width: 100vw;
    height: 100vh;
    .list_wrapper{  
        position: fixed;
        top: 10vh;
        height: 65%;
        overflow-y: scroll;
        align-self: center;

/* 세로 스크롤이 필요한 경우 스크롤을 표시 */

    }
    .item_wrapper{
        display: flex;
        padding: 2%;
        width:90%;
        border-radius: 8px;
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        background: radial-gradient(
            102.04% 362.09% at 33.88% 16.84%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 100%
          )
          rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(20px);
        margin: 0 auto;
        margin-bottom: 10px;
        max-height: calc(100vh - 100px); 
        line-height: 60px;
        text-align: start;

        img{
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }
        #text1{
            height: 40px;
            color: white;
        }
        #text2{
            height: 40px;
            color: white;
        }
    }

} 

