.community {
  width: 100%;
  height: 100vh;
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    &-wrapper {
      height: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: scroll;

      &-notice {
        // position: fixed;
        height: 8rem;
        width: 90%;
        background-color: rgba(61, 128, 203, 0.8);
        border-radius: 11px;
        padding: 3%;
        margin-top: 3%;
        color: rgb(255, 255, 255);
        font-family: "Pretendard-bold";
      }
      &-board {
        height: 100%;
        width: 100%;
        margin-top: 3%;
        font-family: "Pretendard-Regular";
      }
    }
  }

  &-post {
    height: 10%;
    width: 10%;
    background-color: antiquewhite;
    position: fixed;
  }
  .post_bnt_wrapper {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    user-select: none; //텍스트 커서 없애기
    .post_bnt {
      margin-right: 5%;
      margin-bottom: 2%;
      float: right;
      height: 50px;
      width: 50px;
      background-image: url("../AddMemberIcon.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: #3d80cb;
    }
  }
}
