.delete {
  position: fixed;
  top: 30%;
  left: 20%;
  font-family: "Pretendard-Regular";
  // margin-top: 30%;
  width: 60%;
  height: 25%;
  background-color: rgb(252, 252, 252);
  // position: fixed;
  border-radius: 7px;
  &-body {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    &-title {
      // margin-top: 7%;
      color: #3d80cb;
      font-size: 20px;
    }
    &-subtitle {
      font-size: 12px;
    }

    &-input {
      display: flex;
      justify-content: center;
      height: 35px;
      line-height: 35px;
      border-radius: 7px;
      // background-color: #3d80cb;

      input {
        height: 35px;
        border: none;
        border-bottom: #8a8a8a 1px solid;
        background-color: rgb(252, 252, 252);
        border-radius: 0px 0px 0px 0px;
      }
    }

    &-notice {
      font-size: 11px;
      color: #8a8a8a;
    }
  }

  &-btn {
    height: 20%;
    border-radius: 0px 0px 7px 7px;
    background-color: #3d80cb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
