.Board {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .Board-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    // padding-top: 50px; /* 상단 패딩 추가 */

    .Board-list-img {
      position: fixed;
      top: 50%; /* 수직 중앙 정렬 */
      left: 50%;
      margin-top: 5%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 600px;
      z-index: 1;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("https://sunwoo-img-container.s3.ap-northeast-2.amazonaws.com/front/a086f865-ec3a-43a3-a372-1900fcd61ed5_%EC%84%B8%EB%A1%9C.png");
    }
    .item {
      font-family: Pretendard-ExtraBold;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 3%;
      padding: 1.5%;
      color: white;
      background: radial-gradient(
          102.04% 362.09% at 33.88% 16.84%,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 100%
        ),
        rgba(255, 255, 255, 0.2);
      border: 1.1px solid rgba(247, 247, 247, 0.4);
      backdrop-filter: blur(20px);
      border-radius: 8px;

      img {
        width: 25%;
        height: 100%;
        border-radius: 10px;
        margin-right: 2%;
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
        text-align: start;

        #text1 {
          font-family: "Pretendard-ExtraBold";
          margin-bottom: 10%;
        }
        #text2 {
          font-family: "Pretendard-Regular";
        }
      }
    }
  }
  .Board-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    bottom: 3%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    svg {
      width: 28px;
      height: 28px;
      fill: #3d80cb;
    }
  }
}
