.Board {
  display: flex;
  // margin-top: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: aquamarine;
  .Board-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .item {
      font-family: Pretendard-ExtraBold;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 3%;
      padding: 1.5%;
      color: white;
      background: radial-gradient(
          102.04% 362.09% at 33.88% 16.84%,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 100%
        ),
        rgba(255, 255, 255, 0.2);
      border: 1.1px solid rgba(247, 247, 247, 0.4);
      backdrop-filter: blur(20px);
      border-radius: 8px;

      img {
        width: 25%;
        height: 100%;
        border-radius: 10px;
        margin-right: 2%;
      }
      .text {
        // margin-left: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
        text-align: start;

        #text1 {
          font-family: "Pretendard-ExtraBold";
          margin-bottom: 10%;
        }
        #text2 {
          font-family: "Pretendard-Regular";
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Board {
    margin-top: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .Board {
    margin-top: 77%;
  }
}

@media only screen and (max-width: 450px) {
  .Board {
    margin-top: 80%;
  }
}
@media only screen and (max-width: 440px) {
  .Board {
    margin-top: 79%;
  }
}

@media only screen and (max-width: 430px) {
  .Board {
    margin-top: 75%;
  }
}
@media only screen and (max-width: 425px) {
  .Board {
    margin-top: 77%;
  }
}

@media only screen and (max-width: 420px) {
  .Board {
    margin-top: 76%;
  }
}

@media only screen and (max-width: 415px) {
  .Board {
    margin-top: 76%;
  }
}
@media only screen and (max-width: 410px) {
  .Board {
    margin-top: 75%;
  }
}

@media only screen and (max-width: 400px) {
  .Board {
    margin-top: 73%;
  }
}

@media only screen and (max-width: 385px) {
  .Board {
    margin-top: 73%;
  }
}
@media only screen and (max-width: 380px) {
  .Board {
    margin-top: 72%;
  }
}

@media only screen and (max-width: 375px) {
  .Board {
    margin-top: 71%;
  }
}
@media only screen and (max-width: 370px) {
  .Board {
    margin-top: 71%;
  }
}
@media only screen and (max-width: 360px) {
  .Board {
    margin-top: 73%;
  }
}
@media only screen and (max-width: 350px) {
  .Board {
    margin-top: 72%;
  }
}
@media only screen and (max-width: 300px) {
  .Board {
    margin-top: 67%;
  }
}
