.bingoInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-modal {
    position: absolute;
    width: 70%;
    height: 35%;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 0 10%;
      h2 {
        font-family: "Pretendard-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        margin-bottom: 10%;
      }
      p {
        font-family: "Pretendard-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 5%;
        color: #000000;
        word-break: keep-all
      }
    }
    &-buttons {
      width: 100%;
      height: 20%;
      display: flex;
      .exitButton {
        background-color: #3d80cb;
        flex-grow: 1;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Pretendard-Bold";
        color: white;
      }
      .cancelButton {
        background-color: #d9d9d9;
        flex-grow: 1;
        border-radius: 0 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Pretendard-Bold";
        color: #4f4f4f;
      }
      .startButton {
        background-color: #3d80cb;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Pretendard-Bold";
        color: white;
      }
    }
    &-image {
      display: block;
      margin: 0 auto;
      width: 50px; // 필요에 따라 조정
      height: auto;
    }
  }
}
