.Home {
  width: 390px;
  height: 844px;
  display: flex; /* Flexbox 설정 추가 */
  align-items: end; /* 수직 중앙 정렬 */
  overflow-x: hidden;
  &-container {
    width: 100%;
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      &-info {
        width: 214px;
        height: 98px;

        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.59),
            rgba(255, 255, 255, 0.59)
          ),
          rgba(65, 105, 225, 0.67);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        padding: 10px;
        margin: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        p {
          font-weight: 700;
          color: white;
          font-size: 15px;
        }
      }
      &-goodAndEvents {
        width: 110px;
        height: 98px;
        padding: 10px;
        margin: 5px;
        background: rgba(255, 219, 88, 0.38);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        p {
          font-weight: 700;
          color: white;
          font-size: 15px;
        }
      }
    }
    &-wrapper {
      display: flex;
      &-left {
        &-community {
          width: 214px;
          height: 98px;
          padding: 10px;
          margin: 5px;
          background: radial-gradient(
                69.63% 123.31% at 8.41% -19.39%,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.6) 100%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
            #e2cfc1;
          border: 1.1px solid rgba(247, 247, 247, 0.4);
          backdrop-filter: blur(20px);
          border-radius: 8px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          p {
            font-weight: 700;
            color: white;
            font-size: 15px;
          }
        }
        &-schedule {
          width: 214px;
          height: 98px;
          padding: 10px;
          margin: 5px;
          background: rgba(107, 142, 35, 0.5);
          border: 1.1px solid rgba(247, 247, 247, 0.4);
          backdrop-filter: blur(20px);
          border-radius: 8px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          p {
            font-weight: 700;
            color: white;
            font-size: 15px;
          }
        }
      }
      &-right {
        &-reservation {
          width: 110px;
          height: 202px;
          margin: 5px;
          padding: 10px;
          background: linear-gradient(
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.7) 100%
            ),
            rgba(65, 105, 225, 0.5);
          border: 1.1px solid rgba(247, 247, 247, 0.4);
          backdrop-filter: blur(20px);
          border-radius: 8px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          p {
            font-weight: 700;
            color: white;
            font-size: 15px;
          }
        }
      }
    }
    &-wrapper {
      &-promotionalVideo {
        width: 110px;
        height: 98px;
        margin: 5px;
        padding: 10px;
        background: radial-gradient(
              136.36% 202.54% at -43.64% 107.14%,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.7) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          rgba(61, 128, 203, 0.8);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        p {
          font-weight: 700;
          color: white;
          font-size: 15px;
        }
      }
      &-lostItem {
        margin: 5px;
        padding: 10px;
        width: 214px;
        height: 98px;

        background: radial-gradient(
              102.04% 362.09% at 33.88% 16.84%,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.8) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          rgba(128, 128, 128, 0.8);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        p {
          font-weight: 700;
          color: white;
          font-size: 15px;
        }
      }
    }
  }
}
