.Info {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    &-infoWrapper {
      width: 100%;
      height: 70%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-infoBox {
        margin: 3% auto;
        height: 15%;
        width: 100%;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(
              102.04% 362.09% at 33.88% 16.84%,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.8) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          rgba(255, 255, 255, 0.2);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        font-family: "Pretendard-ExtraBold";
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
      }
    }
  }
}
