.footer{
    position: fixed;
    width: 100vw;
    height: 10%;
    bottom: 5vh;
    left: 0;
    color: white;


    div{
        font-size: 13px;
        white-space: pre-line;
        line-height: 0.8;
        font-weight: 900;
    }
}