.modal {
  position: fixed; /* 위치를 고정시킵니다 */
  bottom: 0; /* 화면 바닥에서부터 40vh의 위치에 모달의 하단을 고정 */
  left: 50%; /* 화면 중앙에 배치 */
  transform: translateX(-50%);
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  .modalAbove {
    width: 78%;
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 17%;
    font-weight: 900;
  }
  .modalBody {
    width: 100%;
    height: 90vh;
    background-color: white;
    border-radius: 24px 24px 0px 0px;
    transition: height 0.7s ease; // 높이 변경에 대한 부드러운 애니메이션 효과
  }
  .modalTitle {
    margin-top: 10%;
    margin-bottom: 1px;
    height: 10vh;
    width: 100%;
    font-size: 18.26px;
  }
  .modalImageSlider {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hidden {
      visibility: hidden;
    }
    .sliderImage {
      width: 70%;
      height: 20vh;
      border-radius: 7px;
      background-position: center;
      background-size: cover;
    }
    .shift {
      height: 24px;
      width: 24px;
    }
  }

  .modalArticle {
    list-style-type: none;
    margin: 10%;
    li {
      float: left;
      margin-bottom: 12px;
      font-size: 15px;
      // font-weight: bold;
    }
  }
}
