.modal {
  position: fixed; /* 위치를 고정시킵니다 */
  bottom: 0; /* 화면 바닥에서부터 40vh의 위치에 모달의 하단을 고정 */
  left: 50%; /* 화면 중앙에 배치 */
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  .modalAbove {
    width: 78%;
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 17%;
    font-weight: 900;
  }
  .modalBody {
    width: 100%;
    height: 90vh;
    background-color: white;
    border-radius: 24px 24px 0px 0px;
    transition: height 0.7s ease; // 높이 변경에 대한 부드러운 애니메이션 효과
  }
  .modalTitle {
    margin-top: 6%;
    height: 8%;
    width: 100%;
    font-size: 18.26px;
  }
  .modalImageSlider {
    // margin-top: 1%;

    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .hidden {
      visibility: hidden;
    }
    .sliderImage {
      width: 70%;
      height: 30vh;
      border-radius: 7px;
      background-position: center;
      background-size: cover;
    }
    .shift {
      height: 24px;
      width: 24px;
      fill: #3d80cb;
    }
  }

  .modalArticle {
    font-size: 14px;
    list-style-type: none;
    // margin-top: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .schedule {
      display: flex;
      flex-direction: row;
      margin-bottom: 2vh;
      width: 100%;
      height: 50%;
      .schedule_time {
        border-radius: 4px;
        width: 30%;
        background-color: #3d7fcb3d;
        color: #3d80cb;
        margin: 0px 3vw 0px 3vw;
        text-align: center;
      }

      .schedule_body {
        margin: 0 auto;
      }
    }
  }
}
