/* 헤더 */

.header {
  position: fixed;
  font-family: "KoPubWorld Batang_Pro";
  width: 100%;
  margin: 5% auto;
  padding: 5%;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  svg {
    width: 11px;
    height: 19px;
    fill: #ffff;
  }
  &-center {
    font-weight: 300;
    font-size: 18.2609px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.45em;
    color: #ffffff;
  }
}
