/* 헤더 */
.header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(223, 209, 209);
}

.header_wrapper .headcenter {
  display: flex;
  width: 50%;
  justify-content: center;
}

.header_wrapper .haedleft {
  width: 25%;
  justify-content: start;
}
.header_wrapper .headright {
  width: 25%;
  justify-content: end;
}
