.hopeGroundInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 90%;
      &-images {
        width: 100%;
        height: 40%;
        margin: 3% 0;
        img {
          width: 280px;
          height: 280px;
        }
      }
      &-modal {
        background: rgba(255, 255, 255, 0.9);
        border: 1.1px solid rgba(247, 247, 247, 0.4);
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(20px);
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        height: 100%;
        padding: 5% 5% 0 5%;
        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 7%;
          width: 100%;
          margin: 1.5% 0;
          font-family: "Pretendard-Bold";
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #000000;
          .arrow-left {
            img {
              width: 24px;
              height: 24px;
            }
          }

          .arrow-right {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        &-subtitle {
          display: flex;
          justify-content: center;
          width: 100%;
          p {
            color: #909090;
            font-family: "Pretendard";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
          }
        }
        &-body {
          width: 100%;
          &-content {
            width: 100%;
            min-height: 20%;
            border-bottom: 1px solid #b6b6b6;
            padding: 5% 0;
            .contents {
              text-align: left;
            }
            p {
              text-align: left;
              font-family: "Pretendard";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #909090;
            }
          }
          &-date {
            width: 100%;
            height: 20%;
            border-bottom: 1px solid #b6b6b6;
            padding: 4% 0;
            display: flex;
            justify-content: left;
            align-items: center;

            img {
              margin-right: 1%;
            }
            p {
              margin-right: 1%;
            }
          }
          &-audienceRating {
            width: 100%;
            height: 20%;
            padding: 4% 0;
            margin-bottom: 5%;
            display: flex;
            justify-content: left;
            align-items: center;

            img {
              width: 24px;
              height: 24px;
              margin-right: 1%;
            }
            p {
              margin-right: 1%;
            }
          }
          &-time {
            width: 100%;
            height: 40%;
            padding: 4% 0;
            border-bottom: 1px solid #b6b6b6;
            &-item1 {
              width: 100%;
              height: 20%;
              margin-bottom: 2%;
              display: flex;
              justify-content: left;
              align-items: center;

              img {
                margin-right: 1%;
                width: 24px;
                height: 24px;
              }
            }
            &-item2 {
              display: flex;
            }
          }
        }
      }
    }
  }
}
#boldText {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
#normalText {
  font-family: "Pretendard-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}
@media only screen and (max-height: 667px) {
  .hopeGroundInfo-container-wrapper {
    justify-content: flex-start;
    &-images {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
@media only screen and (max-height: 740px) {
  .hopeGroundInfo-container-wrapper {
    justify-content: flex-start;
    &-images {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
