.pubInfo {
  width: 100%;
  height: 100%;

  &-container {
    padding-top: 30%;
    width: 100%;
    height: 400%;
    background-color: black;
    // opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &-wrapper {
      width: 100%;
      height: 90%;
      padding: 0 5%;

      img {
        width: 100%;
        height: 10%;
        border-radius: 15px;
      }

      .contents {
        height: 50%;
        text-align: left;
        .title {
          font-family: "Pretendard-ExtraBold";
          font-weight: 800;
          font-size: 15px;
          line-height: 18px;
          color: #ffffff;
          margin: 5% 0;
        }
        h1 {
          font-size: 16px;
        }
        ul {
          font-size: 15px;
          font-family: "Pretendard-Light";
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #ffffff;
          list-style-type: none;
          li {
            margin-bottom: 2%;
          }
        }
      }
    }
  }
}
