:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior-x: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  width: 390px;
  height: 844px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.qr-page {
  display: none;
}

@media all and (max-width: 390px) {
  /* 기본 사이즈 이하의 경우 */
  #body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  /* 768px이하인 해상도는 content 활성화 */
  .content {
    display: block;
  }
}

@media only screen and (min-width: 767px) {
  /* 768px 이상인 해상도 content 비활성화 */
  .content {
    display: none;
  }
}
