:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}


  /* 기기 크기에 다른 반응형 동작 */
  /* 영역 체크해보고 싶으면 주석 해제하고 색으로 확인해보세여 */
  /* desktop */
@media all and (min-width: 1025px) {
    #root{
      width: 390px;
      height: 100vh;
     /*   background-color: red; */
     
      margin: 0 auto;
    }
  }
  
  /* tablet */
  @media all and (min-width: 768px) and (max-width: 1024px) {
    #root{
      width: 390;
      height: 100vh;
     /*   background-color: blue; */
   
    }
  }
  
  /* phone */
  @media all and (max-width: 767px) {
    #root{
      width: 100vw;
      height: 100vh;
     /*   background-color: black; */
     
    }
  }
  

