.BoothInfo{
    background-image: url("../../assets/image1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 390px;
    height: 844px;
    overflow: scroll;
}

.header{
    margin-top: 50px;
    margin-bottom: 50px;
}
