.events {
  position: absolute;
  width: 100%;
  height: 100%;

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end; // 변경: center로 align 설정
    justify-content: center; // 추가: center로 justify 설정

    &-wrapper {
      width: 100%;
      height: 80%;
      display: flex; // 추가: flex 설정
      justify-content: center;

      .bingo-board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin: 20px auto;
        height: 30%;
      }

      .bingo-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 85px;
        background-color: #ffff;
        border: 1px solid #ccc;
        cursor: pointer;
        font-size: 18px;
        font-family: "Pretendard-ExtraBold";
      }
      .bingo-cell.O {
        color: red;
      }

      .bingo-cell.X {
        color: blue;
      }
    }
  }
}
